body {
  font-family: "Inter", sans-serif;
}

.tab-container {
  text-align: center;
  margin-bottom: 20px;
}

.tablinks {
  background-color: #e5e0e0;
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tablinks.active {
  background-color: #000000;
  color: white;
}

.tabcontent {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tabcontent.show {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
}

.tabcontent .item {
  flex: 0 0 calc(33.33% - 20px);
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 286px;
}

.tabcontent .item img {
  width: 100%;
  max-height: 300px; /* Set a maximum height for the image */
  object-fit: fill; /* Maintain aspect ratio and cover the entire space */
  border-radius: 5px;
  margin-bottom: 10px;
}

.title,
.price {
  display: flex !important;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.title {
  margin-bottom: -20px;
}
.price {
  font-weight: 600;
}

.vendor {
  font-weight: 300;
}

.extra_price {
  text-decoration: line-through;
  color: gray;
}
.disc {
  color: red;
  font-weight: 500;
}
.btn {
  width: 100%;
  background-color: black;
  color: white;
  height: 40px;
  border-radius: 7px;
  border: none;
}

.heading {
  text-align: center;
  font-size: 35px;
  text-shadow: 0px 5px 9px rgba(50, 50, 50, 0.646);
}

.badge {
  position: absolute;
  top: -5px;
  left: 5px;
  background-color: white;
  padding: 3px;
  color: black;
  border-radius: 3px;
}
